h1 {
  font-family: poppins;
  font-size: 30px;
  display: flex;
  justify-content: center;
  color: #313131;
}

form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input,
textarea {
  padding: 10px;
  border: 1.5px solid #6e9770;
  border-radius: 6px;
}

button {
  font-family: Lora;
  background-color: #6e9770;
  color: white;
  text-decoration: none;

  width: 190px;
  padding: 10px 20px;
  margin-top: 30px;
  margin-bottom: 30px;

  border-radius: 12px;
  border: 2px solid #6e9770;
  align-items: center;

  transition:
    transform 0.15s ease,
    box-shadow 0.15s ease,
    background-color 0.15s ease;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

button:hover {
  transform: translateY(-2px);
  background: #f7f9f7;
  color: #6e9770;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}

#status {
  margin-top: 10px;
  padding: 10px;
  border-radius: 6px;
  background: #e6ffed;
  color: #1a7f37;
  text-align: center;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.4s ease;
}

#status.show {
  opacity: 1;
  transform: translateY(0);
}

.hidden {
  display: none;
}
